body{
    /* background-color: #1E1E1E; */
    background-color: #300a5e;
}

.mainbox{

}

/* image banner css ------------------------------------------- */

.imagebanner{
    height: 85vh;
    text-align: center;
}

.imagebanner img{
    height: 100%;
    width: 100vw;
}
